@import "../modules/mixin.scss";
.footer {
  margin: 0;
  &__article {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  &__contact {
    color: #4da8ff;
    height: 24px;
    width: 24px;
  }
  &__content {
    @include mobile-text();
    color: #425a70;
    margin: 32px 0px 56px 0px;
    text-align: center;
    @media screen and (min-width: 768px) {
      @include text;
      margin-bottom: 128px;
    }
  }
  &__heading {
    @include mobile-header-100();
    color: #234361;
    margin: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
      @include header-100;
    }
  }
  &__item {
    background: white;
    border-radius: 50px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    &--l {
      margin: 0 24px;
    }
  }
  &__link {
    @include text-bold();
    background: #4da8ff;
    border-radius: 64px;
    color: white;
    display: flex;
    padding: 4px 24px;
    text-decoration: none;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    @media screen and (min-width: 768px) {
      margin: 0 100px 0 0;
    }
  }
  &__main {
    align-items: center;
    background: #dbeaf7;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 64px 16px 88px 16px;
    min-width: 288px;
    @media screen and (min-width: 768px) {
      padding: 80px 16px 176px 16px;
    }
  }
}
