.footer {
    margin: 0;
  }
  
  .footer__contact {
    color: #4da8ff;
    height: 24px;
    width: 24px;
  }
  
  .footer__content {
    @include mobile-text();
    color: #425a70;
    margin: 32px 0px 56px 0px;
    text-align: center;
  }
  
  .footer__heading {
    @include mobile-header-100();
    color: #234361;
    margin: 0;
    text-align: center;
  }
  
  .footer__item {
    background: white;
    border-radius: 50px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    min-width: 48px;
  }
  
  .footer__item--l {
    margin: 0 24px;
  }
  
  .footer__link {
    @include text-bold();
    background: #4da8ff;
    border-radius: 64px;
    color: white;
    display: flex;
    padding: 4px 24px;
    text-decoration: none;
    text-align: center;
  }
  
  .footer__list {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }
  
  .footer__main {
    align-items: center;
    background: #dbeaf7;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 64px 16px 88px 16px;
    min-width: 288px;
  }

  @media screen and (min-width: 768px) {
    .footer__article {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .footer__content {
      margin-bottom: 128px;
    }
  
    .footer__list {
      margin: 0 100px 0 0;
    }
  
    .footer__main {
      padding: 80px 16px 176px 16px;
    }
  }
  