@import "../modules/mixin.scss";

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .frame__main {
    background: #1e1e1e;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
    list-style: none;
    margin-bottom: 24px;
    width: 287px;
    height:320; 
  }
  
  .frame__content {
    @include mobile-console();
    background: #212528;
    color: #808082;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 40px;
    padding: 24px 16px;
  }
  
  .frame__description {
    color: #a3a3a3;
    margin-bottom: 24px;
    max-height: 24px;
    overflow: auto;
  }
  
  .frame__demo {
    color: 14B5D0;
    margin-bottom: 8px;
  }
  
  .frame__demo::before {
    content: "<";
    color: #808082;
  }
  
  .frame__demo::after {
    content: ">";
    color: #808082;
  }
  
  .frame__dots {
    min-height: 8px;
    min-width: 40px;
    padding: 16px;
  }
  
  .frame__git {
    @extend.frame__demo;
  }
  
  .frame__header {
    min-height: 40px;
    margin: 0;
  }
  
  .frame__icon {
    grid-area: 1/1/2/3;
    min-height: 24px;
    min-width: 24px;
  }
  
  .frame__item {
    margin-bottom: 8px;
  }
  
  .frame__item--2 {
    margin-bottom: 24px;
  }
  
  .frame__list {
    display: grid;
    grid-template-columns: 109px 1fr;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 24px 0 0 0;
  }
  
  .frame__list--2 {
    text-align: left;
    padding-left: 4px;
  }
  
  .frame__project {
    color: white;
    font-weight: 600;
    margin-bottom: 8px;
    max-height: 24px;
    overflow: auto;
  }
  
  .frame__special {
    color: #808082;
  }

  @media screen and (min-width: 768px) {

    .frame {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
    }
  }

  @media screen and (min-width: 1024px) {
    .frame {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;
    }
  }