@import "../modules/mixin.scss";
.header {
    display: flex;
    justify-content: center;
  &__content {
    @include mobile-text();
    color: #425a70;
    margin: 0 0 48px 0;
    text-align: center;
    @media screen and (min-width: 1024px) {
      @include text;}
  }
  &__hand {
    @media screen and (min-width: 1024px) {
      display: inline-block;
      animation: hand 1s ease-in infinite alternate;
    }
  }
  &__heading {
    @include mobile-header-200();
    color: #234361;
    text-align: center;
    @media screen and (min-width: 1024px) {
      @include header-200;
    }
  }
  &__hello {
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 226px 0.5fr 0.5fr;
      grid-template-rows: 72px 23px 178px;
      margin-bottom:72px;
    }
  }
  &__link {
    @include text-bold();
    background: #4da8ff;
    border-radius: 64px;
    color: white;
    padding: 4px 24px;
    text-decoration: none;
    text-align: center;
    @media screen and (max-width:425px){
      @include mobile-text-bold();
    }
  }
  &__main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 64px 16px 88px 16px;
    min-width: 288px;
    max-width: 988px;
  }
  &__photo {
    box-sizing:content-box;
    border: 24px solid #F6F9FD;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 40px;
    @media screen and (min-width: 1024px) {
      border-radius: 50%;
      grid-area: 2/2/span 2/3;
      height: 178px;
      width: 178px;
    }
  }
  &__sign {
    display: none;
    @media screen and (min-width: 1024px) {
      display: flex;
      grid-area: 2/3/3/4;
      justify-content: center;
      margin: auto;
    }
  }
  &__special {
    color: #1070ca;
    @media screen and (min-width: 1024px) {
      white-space: nowrap;
    }
  }
  &__special2 {
    @include mobile-text-bold();
    color: #4da8ff;
    text-decoration:none;
    @media screen and (min-width: 1024px) {
      @include text-bold();
      text-decoration:underline;
    }
  }
  &__summary {
    @media screen and (min-width: 1024px) {
      display: flex;
      &::before {
        content: url(../assets/icons/nawias-open.png);
      }
      &::after {
        content: url(../assets/icons/nawias-close.png);
      }
    }
  }
  &__welcome {
    display: none;
    @media screen and (min-width: 1024px) {
      @include header-200;
      background: #1070ca;
      border-radius: 16px;
      color: white;
      display: block;
      grid-area: 1/3/2/5;
      margin: 0;
      padding: 16px 19px;
    }
  }
}

  