@mixin mobile-header-100 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }
  
  @mixin header-100 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
  
  @mixin mobile-header-200 {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }
  
  @mixin header-200 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  
  @mixin header-300 {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
  }
  
  @mixin mobile-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }
  
  @mixin text {
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
  }
  
  @mixin mobile-text-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }
  @mixin text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
  }
  @mixin mobile-console {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }
  
  @mixin console {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  @mixin list {
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
  }