@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap");

@mixin mobile-header-100 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

@mixin header-100 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

@mixin mobile-header-200 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

@mixin header-200 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

@mixin header-300 {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
}

@mixin mobile-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

@mixin text {
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}

@mixin mobile-text-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
@mixin text-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}
@mixin mobile-console {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

@mixin console {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin list {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
}

a {
  color:#14B5D0;
}

body {
  font-family: "Nunito", sans-serif;
}

.footer {
  margin: 0;
}


.footer__contact {
  color:#4DA8FF;
  height: 24px;
  width: 24px;
}

.footer__content {
  @include mobile-text();
  color: #425a70;
  margin: 32px 0px 56px 0px;
  text-align: center;
}

.footer__heading {
  @include mobile-header-100();
  color: #234361;
  margin: 0;
  text-align: center;
}

.footer__item {
  background: white;
  border-radius: 50px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  min-width: 48px;
}

.footer__item--l {
  margin: 0 24px;
}

.footer__link {
  @include text-bold();
  background: #4da8ff;
  border-radius: 64px;
  color: white;
  display: flex;
  padding: 4px 24px;
  text-decoration: none;
  text-align: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.footer__main {
  align-items: center;
  background: #dbeaf7;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 64px 16px 88px 16px;
  min-width: 288px;
}

.frame {
  display:flex;
  flex-direction:column;
  align-items:center;

}

.frame__main {
  background: #1e1e1e;
  border-radius: 16px;
  list-style: none;
  margin-bottom: 24px;
  width: 287px;
  height: 320px;
}

.frame__content {
  @include mobile-console();
  background: #212528;
  color: #808082;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 40px;
  padding: 24px 16px;
}

.frame__description { 
  color:#A3A3A3;
  margin-bottom: 24px;
  max-height: 24px;
  overflow: auto;
}

.frame__demo {
  color:14B5D0;
  margin-bottom: 8px;
}

.frame__demo::before {
  content:"<";
  color:#808082;
}

.frame__demo::after {
  content:">";
  color:#808082;
}

.frame__dots {
  min-height: 8px;
  min-width: 40px;
  padding: 16px;
}

.frame__git {
  @extend.frame__demo;
}

.frame__header {
  min-height: 40px;
  margin: 0;
}

.frame__icon {
  grid-area: 1/1/2/3;
  min-height: 24px;
  min-width: 24px;
}

.frame__item {
  margin-bottom: 8px;
}

.frame__item--2 {
  margin-bottom: 24px;
}


.frame__list {
  display:grid;
  grid-template-columns: 109px 1fr;
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 24px 0 0 0;
}

.frame__list--2 {
  text-align: left;
  padding-left: 4px;
}

.frame__project {
  color:white;
  font-weight: 600;
  margin-bottom: 8px;
}

.frame__special {
  color: #808082;
}

.header__content {
  @include mobile-text();
  color: #425a70;
  margin: 0 0 48px 0;
  text-align: center;
}

.header__heading {
  @include mobile-header-200();
  color: #234361;
  text-align: center;
}

.header__link {
  @include text-bold();
  background: #4da8ff;
  border-radius: 64px;
  color: white;
  padding: 4px 24px;
  text-decoration: none;
  text-align: center;
}
.header__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 64px 16px 88px 16px;
  min-width: 288px;
}

.header__photo {
  width: 96px;
  height: 96px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.header__special {
  color: #1070ca;
}

.header__special2 {
  @include mobile-text-bold();
  color: #4da8ff;
}

.projects {
  padding: 64px 16px 88px 16px;
  margin: 0;
}

.projects__content {
  @include mobile-text();
  color: #425a70;
  margin: 32px 0px 46px 0px;
  text-align: center;
}

.projects__heading {
  @include mobile-header-100();
  color: #234361;
  margin: 0;
  text-align: center;
}

.skills {
  background: #1070ca;
  color: white;
  display: flex;
  flex-direction:column;
  align-items:center;
  padding: 64px 16px 88px 16px;
  margin: 0;
}

.skills__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:288px;
}

.skills__dot::before {
  content: "✔";
  color: #06c847;
  width: 12px;
  height: 9px;
  margin-right: 12px;
}

.skills__dot--sth::before {
  color: #dbeaf7;
}

.skills__heading {
  @include mobile-header-100();
  margin: 0;
  text-align: center;
}

.skills__heading2 {
  @include header-300();
  margin: 16px 0 24px 0;
}

.skills__image {
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin-top: 64px;
}

.skills__list {
  @include list();
  align-self: center;
  color: #dbeaf7;
  margin: 0;
  padding: 0;
}

.skills__list--2 {
  list-style: none;
}

.skills__list--special {
  padding: 0px 0px 0px 16px;
}

@media screen and (min-width:768px){

  .footer__article {
  display:flex;
  justify-content:center;
  width:100%;
  }

  .footer__content {
    margin-bottom:128px;
  }

  .footer__list {
    margin:0 100px 0 0;
  }

  .footer__main {
    padding: 80px 16px 176px 16px;
  }

  .frame {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .projects {
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .skills__summary {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}

@media screen and (min-width:1024px){
  .frame {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }

  .projects {
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .skills__list {
    align-self: center;
  }

  .skills__summary {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }
}