@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap");

@import "../scss/modules/footer.scss";
@import "../scss/modules/frame.scss";
@import "../scss/modules/mixin.scss";
@import "../scss/modules/header.scss";
@import "../scss/modules/projects.scss";
@import "../scss/modules/skills.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@keyframes hand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5) rotate(25deg);
  }
}

a {
  color: #14b5d0;
}

body {
  font-family: "Nunito", sans-serif;
}