@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono&display=swap');

@mixin mobile-header-100 {
  font-weight: 700;
  font-size:36px;
  line-height: 48px;
}

@mixin header-100 {
  font-weight: 700;
  font-size:48px;
  line-height: 56px;
}

@mixin mobile-header-200 {
  font-weight: 700;
  font-size:26px;
  line-height: 32px;
}

@mixin header-200 {
  font-weight: 700;
  font-size:32px;
  line-height: 40px;
}

@mixin header-300 {
  font-weight: 700;
  font-size:24px;
  line-height: 44px;
}

@mixin mobile-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

@mixin text {
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}

@mixin mobile-text-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
@mixin text-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}
@mixin mobile-console {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

@mixin console {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin list {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
}

body {
  font-family: 'Nunito', sans-serif;
}

.header__content {
  @include mobile-text();
  color: #425A70;
  margin:0 0 48px 0;
  text-align:center;
}

.header__heading {
  @include mobile-header-200();
  color: #234361;
  text-align:center;
}

.header__link {
  @include text-bold();
  background: #4DA8FF;
  border-radius: 64px;
  color:white;
  padding: 4px 24px;
  text-decoration: none;
  text-align: center;
  
}
.header__main {
  align-items: center;
  display:flex;
  flex-direction:column;
  margin: 64px 16px 88px 16px;
  min-width:288px;
}

.header__photo {
width:96px;
height:96px;
border-radius:50%;
margin-bottom:40px;
}

.header__special {
  color: #1070CA;
}

.header__special2 {
  @include mobile-text-bold();
  color:#4DA8FF;
}

.skills {
  background:#1070CA;
  color:white;
  display:grid;
  padding:64px 16px 88px 16px;
  margin:0;
}

.skills__article {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.skills__dot::before {
  content:"✔";
  color:#06C847;
  width:12px;
  height:9px;
  margin-right:12px;
}

.skills__heading {
  @include mobile-header-100();
  margin:0;
  text-align:center;
}

.skills__heading2 {
  @include header-300();
  margin:16px 0 24px 0;
}

.skills__image {
display: flex;
justify-content: center;
width:64px;
height:64px;
margin-top:64px;
}

.skills__list {
  @include list();
  align-self: flex-start;
  color:#DBEAF7;
  margin:0;
  list-style:none;
}